
.imgcontainer {
    text-align: center;
      color: #3498DB;
    margin: 24px 0 12px 0;
  }

.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form label {
    text-align: center;
    color: #4d4d4d;
    font-size: 20px;
    padding: 10px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"] {
    
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing:border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

img.avatar {
    opacity: 90%;
    width: 7%;
    border-radius: 50%;
    
}

.loginButton,
.registerButton{
    border-radius: 10px;
    background-color:  #3498DB;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.registerButton{
    margin-left: 60px;
}